@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

}

nav {
    height: 25vh;
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    max-width: 1200px;
}



h1 {
    color: white;
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 4px;
}

h2 {
    color: white;
}

.nav__a {
    color: white;
}

button {
    cursor: pointer;
}


/*  

NAV

*/


.nav__container {
   display: flex;
   justify-content: space-between;
}

.logo__name {
    margin-left: 8px;
}

.logo__container {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__link {
    color: white;
    text-decoration: none;
    margin: 0 8px;
}


.nav__btn {
    border: none;
    border-radius: 26px;
    background-color: white;
    font-weight: 600;
    padding: 12px 26px;
    color: rgba(33, 3, 82);
}

.nav__bg--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 25vh;
    z-index: -3;
    overflow: hidden;
}

.nav__bg {
    background-color: rgba(33, 3, 82, 0.678);
    position: absolute;
    z-index: -1;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    height: 25vh;
}

.logo {
    height: 70px;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.input__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav__input {
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    width: 40%;
    max-width: 400px;
    font-size: 14px;
    margin-top: 20px;
}



/* 


MOVIES


*/


.browse__container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.movies__header {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 32px 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie {
    width: (300px / 3);
    padding: 16px;
    margin: 24px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px rgb(0, 0, 0, 0.2);
  }
  
  .movie__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
    object-fit: contain;
    object-position: left;
  }
  
  .movie__img--wrapper {
    overflow: hidden;
    display: flex;
  }